*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align:center;
}
body
{
    margin: 0;
}
#naglowek
{
    
   
    padding: 10px;
    text-align: center;
    height:10%;
    position: absolute;
    top: 0;
    z-index: 10;
    
}




#body
{
    background-color:mistyrose
}

#stopka
{
   
    
    padding: 10px;
    text-align: center;
    position: absolute;
    z-index: -1;
    bottom: 1px;
    width: 100%;
    
}
@media(max-width: 799px) {
  .blok
  {
    display: block;
    width: 99%;
  }
}

@media(min-width: 800px) {
  .blok
  {
    float: left;
    width: 22%;
    vertical-align: top;

  }
}

.blok
{
   padding: 23px;
 
    background-color: plum;
    height: 400px;
    margin: 5px;
    box-shadow: dimgray 4px 10px;
    
    

}

.blok1
{
  
    text-align: center;
    
}

.blok2
{
   
    text-align: center;
}

.blok3
{
   
    text-align: center;
}

.blok4 {
    text-align: center;
}









