*
{
    font-family: Helvetica, Arial, sans-serif;
}

#górny1
{
    background-color: rgb(146, 184, 112);
    text-align: center;
    width: 50%;
    height: 170px;
    float: left;
}

#górny2
{
    background-color: rgb(146, 184, 112);
    text-align: center;
    width: 50%;
    height: 170px;
    float: right;
    overflow: hidden;
}

#górny2 img
{
    max-width: 100%;
    height: 170px;
}

#baner
{
    background-color: rgb(100, 61, 49);
    text-align: center;
    color: white;
    height: 80px;
    padding: 5px;
    clear: both;
}

#prawy
{
    background-color: rgb(146, 184, 112);
    width: 50%;
    height: 450px;
    float: right;
}

#lewy
{
    background-color: rgb(146, 184, 112);
    width: 50%;
    height: 450px;
    float: left;
}

#stopka
{
    background-color: rgb(100, 61, 49);
    text-align: center;
    color: white;
    height: 80px;
    padding: 5px;
    clear: both;
}

#numery
{
    height: 30px;
}

body
{
    background-color: rgb(146, 184, 112);
    margin: 0;
}

th, td {
    border: 2px dashed green; 
    padding: 20px;         
    margin: 30px;     
}

h1
{
    letter-spacing: 20px; 
    font-size: 250%;
}

#cuks {
    background-image: url('cukierki1.jpg');
    background-repeat: no-repeat;
    background-size: contain;        /* Zachowuje proporcje */
    background-position: center;
    padding-right: 30px;
    padding-bottom: 120px;
    font-size: 150%;
    text-decoration: none;
    display: block;
}
