*
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body
{
    background-color:crimson;
}

input
{
    background-color: blue;
    color:red;
}

h1
{
    background-color: blue;
    color: crimson;
    text-align: center;
}

