#logo img{
    height: 100px;
    width: 100px;
    background-color: lightblue;
}

*
{
    background-color:  #EEEEEE;
    font-family: Arial, Helvetica, sans-serif;
}

#main
{
    width: 90%;
    margin: auto;

 
    
}



#menu
{
    background-color: lightblue;
    height: 100px;
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
   float: right;
    
    
    
    
}

#logo
{
    background-color: lightblue;
    height: 100px;
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
   
}

#logo, #menu {
    float: left;  
}

#baner
{
    background-color:  #DDDDDD;
    height: 300px;
}

#glowny
{
    color:navy;
    margin: 50px;
    height: 400px;
    
    
}

#stopka
{
    text-align: right;
    background-color: lightblue;
    padding: 10px;
    
    
    
    
}

input[type="submit"]
{
    background-color: lightblue;
    color: navy;
}

input[type="reset"]
{
    background-color: lightblue;
    color: navy;
}

a
{
    color: navy;
    size: 150%;
    margin: 10px;
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
    background-color: lightblue;
}