#mid
{
    display: flex;
    justify-content: center;
   align-items: top;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:bisque;
    height:600px;
    width: 80%;
}

input
{
    background-color:beige;
    display: block;
    margin: 0 auto;
}

body
{
    background-color: cadetblue;
}

button
{
    background-color: aquamarine;
    color: lightcoral;
    display: block;
    margin: 0 auto;
}

p
{
    color:cadetblue;
}

h1
{
   color:bisque;
   text-align: center;

}


